
<div class=" p-8 w-full max-w-md bg-transparent">
  <h2 class="text-2xl font-bold mb-6 text-start ml-2 text-white">Register</h2>
  <form id="register-form" >
    {{#each fields}}
      <div class="mb-0.5">
      {{> input type=this.type name=this.name id=this.name label=this.label required=this.required}}
      </div>
    {{/each}}
    <div id="response-container" class="mt-4 p-4 rounded-sm text-xs"></div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-700 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:bg-blue-200 disabled:cursor-not-allowed mr-4">Register</button>
      <a href="/auth/login" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Already have an account?</a>
    </div>
  </form>
</div>

