<footer class='w-full bg-gray-900 text-gray-300 py-12 mt-12'>
  <div
    class='max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8 px-6'
  >
    <!-- Logo and Brand Info -->
    <div class='flex items-center gap-4'>
      <img src='/logo.png' alt='Nelfix Logo' class='w-16' />
      <div class='text-lg font-semibold'>
        <p class='text-blue-500'>Nelfix</p>
        <p>Your gateway to the best films</p>
      </div>
    </div>

    <div class='flex flex-col md:flex-row gap-6 text-center'>
      <a
        href='/auth/login'
        class='hover:text-white transition-colors duration-300'
      >Login</a>
      <a
        href='/auth/register'
        class='hover:text-white transition-colors duration-300'
      >Register</a>
      <a
        href='/web/films'
        class='hover:text-white transition-colors duration-300'
      >Films</a>
    </div>

  </div>

  <!-- Footer Bottom Text -->
  <div class='mt-8 text-center text-sm text-gray-400'>
    &copy; 2024 Nelfix. All rights reserved.
  </div>
</footer>