<html>
{{> head title=title}}
  <body class="min-h-screen bg-gray-900 max-w-[2000px] mx-auto ">
    {{> navbar user=user pathname=pathname}}
    <main class="container mx-auto lg:min-h-[800px] min-h-[600px] max-w-7xl p-4 flex items-center justify-center flex-col relative">
    {{{body}}}
    </main>
    <script type="module" src="{{script}}"></script>
  </body>
</html>